@{
    Layout = "layout.cshtml";
}


<div class="alert alert-info">
   @Model.Message at @Model.Timestamp
</div>



<div class="alert alert-info">
    Process is: <strong>@Model.ProcessStatus</strong>
</div>